<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logo">
      <img src="../../assets/squad-logo.png" alt="squad logotipo">
      <span>SQUAD GENERATOR</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-raised-button routerLinkActive="mat-primary" routerLink="/home">Home</a>
      <a mat-raised-button routerLinkActive="mat-primary" routerLink="/app">Aplicativo</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="topNav">
        <span>Gere seu Squad</span>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
