
<form class="example-form">
  <h1>Squad Generator</h1>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Faça seu Squad</mat-label>
    <textarea #textArea matInput placeholder="A cada 'enter' pressionado um item será válido"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Escolha uma opção</mat-label>
    <mat-select #select >
      <!-- *ngFor="let food of foods" -->
      <mat-option  value="numbersSquad">
        Número de Squads
      </mat-option>
      <mat-option  value="membersSquad">
        Membros por Squad
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input #quantity type="number" matInput value="1">
  </mat-form-field>
  <button [disabled]="!textArea.value || !select.value" (click)="gerar()" type="button" mat-raised-button color="accent">Gerar</button>
</form>
<hr/>
<div class="yourSquadsHead">
  <h2>Seus squads</h2>
  <button mat-raised-button color="primary">Exportar</button>
</div>
<div class="squads" [class.flex]="showSquad">
  <div #squadItem *ngFor="let i of squadsNum">
    <h3>Squad #{{ i }}</h3>
  </div>
</div>


<!-- TODO: Componetizar e Estilização -->
