.example-form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

textarea{
  height: 100px;
}

.example-full-width {
  width: 100%;
}

.yourSquadsHead{
  max-width: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  button{
    height: 100%;
    margin-left: 10px;
  }
}

.squads{
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}

.flex{
  display: flex;
}

.squadItem{
  background-color: #454545;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  width: 15%;
}
